@page "/2divs"
@layout EmptyLayout

<div class="container d-flex justify-content-center border border-1">
    <span class="border border-1">class = container @lorum</span>
</div>

<div class="container-fluid d-flex justify-content-center border border-1">
    <span class="border border-1">class = container-fluid @lorum</span>
</div>

<div class="container-sm"><span> Small div @lorum</span></div>
<div class="container-lg"><span> Large div @lorum</span></div>
<div class="container-xl"><span> Xtra Large div @lorum</span></div>
<div class="container-xxl"><span> x Xtra Large div @lorum</span></div>

<div class="parent">
    <div class="child-1">text here</div>
    <div class="child-2">2nd text here</div>
</div>


@code {

    private string lorum = "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa" +
    " quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit," +
    " sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, " +
    " adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum " +
    " exercitationem?";

}
