@page "/was2"
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>ConsumingWebAssemblyPersistencePage</h3>

<p>JSRuntime data: </p>
@if(_jsRuntimePersonString is not null)
{
    <p>@_jsRuntimePersonString</p>
    <p>@_jsRuntimePerson.FirstName, @_jsRuntimePerson.LastName, @_jsRuntimePerson.BirthDate</p>
}

<br/>
Blazored LocalStorage data:
@if(_blazorLocalStoragePerson is not null)
{
    <p>@_blazorLocalStoragePerson.FirstName, @_blazorLocalStoragePerson.LastName, @_blazorLocalStoragePerson.BirthDate</p>
}



@code {
    private LocalPerson? _blazorLocalStoragePerson;
    private string? _jsRuntimePersonString;
    private LocalPerson? _jsRuntimePerson;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            _jsRuntimePersonString = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "jsperson");
            _jsRuntimePerson = System.Text.Json.JsonSerializer.Deserialize<LocalPerson>(_jsRuntimePersonString);
            _blazorLocalStoragePerson = await localStorage.GetItemAsync<LocalPerson?>("BlazoredLocalStoragePerson");
            StateHasChanged();
        }
    }
}

